<table class="tg">
  <% for (x = 0; x < 14; x ++) { %>
    <tr>
      <% for (y = 0; y < 15; y ++) { %>
        <td class="tg-031e">
          <div>
            <center>
              <img ng-class='scrbCtrl.showBoardTiles(<%= x %>, <%= y %>)' id='img<%= x %>-<%= y %>' ng-src='/images/tiles/{{ scrbCtrl.tile(<%= x %>, <%= y %>) }}.png' height="40" ng-click='scrbCtrl.selectTile(<%= x %>, <%= y %>)'>
            </center>
          </div>
        </td>
      <% } %>
    </tr>
  <% } %>
</table>
