<!DOCTYPE html>
<html ng-app='ScrabbleApp'>
  <head>
    <title>Scrabble</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
    <script src='bower_components/angular/angular.js'></script>
    <script src='bower_components/jquery/dist/jquery.js'></script>
    <script src='bower_components/underscore/underscore.js'></script>
    <script src='src/app.js'></script>
    <script src='src/scrabbleController.js'></script>
    <script src='secrets/secrets.js'></script>
    <script src='secrets/letters.js'></script>
  </head>
  <body ng-controller='ScrabbleController as scrbCtrl' ng-init='scrbCtrl.setup()'>
    <center>
      <h1>Scrabble</h1>
    </center>
    <input type='text' ng-model='scrbCtrl.input'>
    <button ng-click='scrbCtrl.giveWord()'>Play</button>
    <div ng-model='scrbCtrl.points'>
      Total: {{ scrbCtrl.totalScore }}
    </div>
    <div ng-repeat='definition in scrbCtrl.definitions | orderBy:"-"'>
      <li> {{ definition.word }} - {{ definition.text }} </li>
    </div>
    <div ng-repeat='history in scrbCtrl.history | orderBy:"-"'>
      <li> {{ history.word }} - {{ history.points }} </li>
    </div>
    <br>
    <div ng-repeat='letter in scrbCtrl.player1Letters track by $index' style="float:left">
      <img ng-class='scrbCtrl.showSelected(letter)' id='letter-{{ letter }}' ng-src="/images/tiles/letter-{{ letter }}.jpg" height="60" ng-click='scrbCtrl.selectLetter(letter)'>
    </div>
    <table class="tg">
      <% for (x = 0; x < 14; x ++) { %>
        <tr>
          <% for (y = 0; y < 15; y ++) { %>
            <td class="tg-031e">
              <div>
                <center>
                  <img id='img<%= x %>-<%= y %>' ng-src='/images/tiles/{{ scrbCtrl.tile(<%= x %>, <%= y %>) }}' height="40" ng-click='scrbCtrl.selectTile(<%= x %>, <%= y %>)'>
                </center>
              </div>
            </td>
          <% } %>
        </tr>
      <% } %>
    </table>
  </body>
</html>
